@model IEnumerable<BaiThiThucHanh.Models.HoaDonVM>
@{
	ViewData["Title"] = "GetDonHang";
}

<h1>Hóa đơn</h1>
<div>Mã HĐ: @ViewBag.MaHd</div>
<div>Người mua: @ViewBag.HoTenKH</div>
<table class="table">
	<thead>
		<tr>
			<td>Mã SP</td>
			<td>Tên SP</td>
			<td>Đơn vị tính</td>
			<td>Số lượng</td>
			<td>Đơn giá</td>
			<td>Thành tiền</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var cthd in Model)
		{
			<tr>
				<td>@cthd.MaSp</td>
				<td>@cthd.TenSp</td>
				<td>@cthd.DonViTinh</td>
				<td>@cthd.SoLuong</td>
				<td>@cthd.DonGia</td>
				<td>@cthd.ThanhTien</td>
			</tr>
		}
	</tbody>
</table>
<div>Tổng tiền: @Model.Sum(p => p.ThanhTien)</div>